<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
</head>

<body>
    <div class="uk-container uk-background-primary" uk-height-viewport>

        <div class="uk-flex uk-height-large uk-margin">
            <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1@m uk-card uk-card-default uk-card-body">
                <a href="http://127.0.0.1:5000/">
                    <p class="uk-text-left uk-text-large uk-text-bold" style="font-size:35px">
                        MATTER SEARCH
                    </p>
                </a>
                <form action="http://127.0.0.1:5000/results", method="POST">
                    <div uk-grid>
                        <div class="uk-width-3-4@m">
                            <input name="text" type="text" class="uk-input uk-card uk-card-default uk-card-hover" autocomplete="off">
                        </div>
                        <div class="uk-width-1-4@m uk-text-right">
                            <button class="uk-button uk-button-primary uk-width-expand uk-input uk-card uk-card-primary uk-card-hover">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>
</body>

</html>